<style type="text/css">

    .container{
        padding: 10px;
        height: auto;
        width: 425px;
        margin: 30px auto;
    }

    .container-img{
        float: left;
        width: 15%;
        text-align: center;
        align-content: center;

        margin-right: 5%;
    }

    .container-contenu{
        float: left;
        width: 80%;
    }

    .container-contenu-details{
        color: #727272;
        font-size: 12px
    }

    .container:hover{
        cursor: pointer;
        opacity: 0.8;
    }

    .container-title{
        font-size: 15px;
        font-weight: 600;
        width: 300px;
    }

    .tiret{
        border-bottom: 1px solid #cdcdcd;
        margin: 10px 0;
    }


</style>
    <div>
        <div style="float: left; width: 47%">
            <div class="titre" style="text-align: left">Mes communautés</div>

            <div class="container" *ngFor="#community of myCommunities" (click)="communityPage(community.idCommunity )">

                <div class="container-img">
                    <img src="../static/images/community.png" width="40">
                </div>
                <div class="container-contenu">
                    <div class="container-title">{{ community.nameCommunity }}</div>
                    <div class="tiret"></div>
                    <span style="margin-right: 20px" class="container-contenu-details">Nombre d'idées : {{community.nbIdeas}}</span>
                    <span class="container-contenu-details">Nombre d'utilisateurs : {{community.nbUsers}}</span>
                </div>
                <div style="clear: both"></div>
            </div>


        </div>

        <div style="float: right; width: 47%">
            <div class="titre" style="text-align: left">Top 5 des idées</div>

            <div class="container" *ngFor="#idea of top5ideas" (click)="communityPage(idea?.idCommunityIdea)">
                <div class="container-img">
                    <img src="../static/images/idea.png" width="40">
                </div>
                <div class="container-contenu">
                    <div class="container-title">{{ idea?.title }}</div>
                    <div class="tiret"></div>
                    <div>
                        <span style="color: #7b90bb; font-weight: 500" class="souris_dessus_pointer souris_dessus_souligne container-contenu-details" (click)="communityPage(idea?.idCommunity)">{{idea?.nameCommunity}}</span>
                    </div>
                    <div *ngIf="idea?.nameCommunityIdea">
                        <span class="container-contenu-details">Communauté : </span>
                        <span class="container-contenu-details souris_dessus_souligne souris_dessus_pointer" style="color: #7b90bb; font-weight: 500">{{idea?.nameCommunityIdea}}</span>
                    </div>

                    <span style="margin-right: 20px" class="container-contenu-details">Nombre de vote : {{ idea?.nbVote }}</span>
                    <span class="container-contenu-details">Publié le {{idea?.publicateDate}} à {{idea?.publicateHour}}</span>

                </div>
                <div style="clear: both"></div>
            </div>

        </div>
        <div style="clear: both"></div>
    </div>


