<style type="text/css">

   .idea{
      padding: 10px;
      background-color: #ececec;
      height: auto;
      width: 500px;
      margin: 30px auto;
   }

   .idea-title{
      font-size: 16px;
      font-weight: 600;
   }

   .idea-date-author{
       color: #989898;
       font-size: 10px;
       line-height: 16px;
   }

   .idea-description{
      text-align: justify;
      line-height: 20px;
   }

   .tiret{
      border-bottom: 1px solid #cdcdcd;
      margin: 10px 0;
   }

   .titre_form{
       margin-bottom: 5px;
   }

   .idee-comment-container{
       padding: 20px 0 5px 0;
       display: none;
       font-size: 12px;
       line-height: 15px;
   }

   .idee-comment-author{
       font-weight: 600;
   }

   .id-comment-comment{

   }

   input[type="text"], input[type="button"]{
       width:100%;
       height:35px;
       margin: 0 auto 15px auto;
       padding: 5px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       font-size:13px;
       border: 1px solid #c7c7c7;
   }

   select{
       width:100%;
       height:35px;
       margin: 0 auto 15px auto;
       padding: 5px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       font-size:13px;
       border: 1px solid #c7c7c7;
       background-color: #FFFFFF;
   }
   textarea{
       resize: none;
       width: 100%;
       height: 100px;
       margin: 0 auto 15px auto;
       padding: 5px;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       font-size:13px;
       border: 1px solid #c7c7c7;
   }
   textarea:hover {
       cursor: pointer;
   }


</style>


<div class="titre">Les idées
    <div class="titre-action" (click)="afficher_masquer_bloc('ajouterIdee')"><img src="../static/images/ajouter.png" width="17"></div>
</div>

<div class="bloc-action" id="ajouterIdee">
    <form style="width: 55%; margin: auto">
        <div class="titre_form">Titre* :</div>
        <div><input type="text" #title id="title" ng-control="title" required></div>
        <div class="titre_form">Communauté :</div>
        <select #community>
            <option value="" selected></option>
            <option *ngFor="#community of myCommunities" value="{{community.idCommunity}}">{{community.nameCommunity}}</option>
        </select>
        <div class="titre_form">Votre idée* :</div>
        <div><textarea id="idea" #idea name="idea"></textarea> </div>
        <div style="text-align: center"><button (click)="postIdea(title, community, idea)" >Ajouter mon idée</button></div>
    </form>
</div>

<div class="idea" *ngFor="#idea of dataParsed">
    <div class="idea-title">{{ idea?.title }}</div>
    <div class="idea-date-author">par {{ idea?.auteur }}, le {{ idea?.date }}</div>
    <div class="idea-date-author"><span style="color: #7b90bb; font-weight: 500" class="souris_dessus_pointer souris_dessus_souligne" (click)="communityPage(idea?.idCommunity)">{{idea?.nameCommunity}}</span></div>
    <div class="tiret"></div>
    <div class="idea-description">
        {{ idea?.idea }}
    </div>
    <div class="tiret"></div>
    <div>
        <div style="float: left">
            <span class="souris_dessus_souligne souris_dessus_pointer" style="margin-right: 10px">
                <span *ngIf="!idea?.voteUser" (click)="vote(idea?.id)" style="color: #989898"><img src="../static/images/like.png" width="15"> Je vote</span>
                <span *ngIf="idea?.voteUser" (click)="vote(idea?.id)" style="color: #5890ff; font-weight: 500"><img src="../static/images/like-true.png" width="15"> Je vote</span>
            </span>

        </div>
        <div style="float: right">
            <span (click)="afficher_masquer_bloc(idea?.id)" class="souris_dessus_pointer souris_dessus_souligne"><img src="../static/images/comment.png" width="15"> <span style="line-height: 17px; color: #7b90bb; font-weight: 500">{{ idea?.nbComments }} commentaires</span></span>
            <img src="../static/images/nbLike.png" width="15"> <span style="line-height: 17px; color: #7b90bb; font-weight: 500">{{ idea?.nbVotes }} votes</span>
        </div>
        <div style="clear: both"></div>
    </div>

    <div class="tiret"></div>

    <div style="background-color: #ececec; width: 100%">
        <div *ngIf="idea?.userCanComment">
            <input type="text" #comment style="margin: 0; width: 406px" placeholder="Laissez un commentaire...">
            <input type="button" (click)="postComment(comment, idea?.id)" style="margin: 0; width: 90px" value="Commenter">
        </div>
        <div id="{{idea?.id}}" class="idee-comment-container">
            <div id="comment_{{ comment?.id }}" *ngFor="#comment of idea?.comments" style="margin-bottom: 6px">
                <div style="line-height: 14px"><span class="idee-comment-author">{{ comment?.authorFirstName }} {{ comment?.authorName }} </span><span class="id-comment-comment">{{ comment.comment }}</span></div>
                <div style="margin-top: 3px"><span style="color: #7b90bb; font-weight: 500" class="souris_dessus_pointer souris_dessus_souligne" (click)="voteComment(comment?.id)"> <span *ngIf="!comment?.voteUserComment">J'aime</span> <span *ngIf="comment?.voteUserComment">Je n'aime plus</span>  - </span><span style="color: #7B90BB; font-weight: 500"><img src="../static/images/nbLike.png" width="10"> {{comment?.nbCommentsVotes}}</span> - <span style="color: #727272; "> {{ comment?.publicateDate }}</span></div>
            </div>
        </div>
    </div>
</div>