<!-------------------------------------------------->
<!-------------------------------------------------->

<style type="text/css">

</style>

<!-------------------------------------------------->
<!-------------------------------------------------->

<div id="bloc_corps">

    <div style="text-align: center">
        <form>
            <div><input type="email" #login id="login" ng-control="login" required placeholder="Adresse email" class="input_email"></div>
            <div><input type="password" #password id="password" ng-control="password" required placeholder="Mot de passe"></div>
            <div><button (click)="onAuthenticate(login, password)">Connexion</button></div>
        </form>
    <div style="margin: 20px auto 0 auto"><span (click)="onRegister()" style="color: #7b90bb; font-weight: 500" class="souris_dessus_pointer souris_dessus_souligne">Vous n'avez pas de compte ? </span></div>
    </div>
</div>