@charset "UTF-8";
/* CSS Document */

html{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    height:100%;
    padding:0;
    margin:0;

    font-size:13px;
    background-color: #fafafa;
    position:relative;
}

#bloc_page{
    width:1000px;
    margin:auto;
    position:relative;
    background-color: #ffffff;
    smoz-box-shadow: 0 0 8px #333;
    -webkit-box-shadow: 0 0 8px #333;
    box-shadow: 0 0 8px #333;
    z-index:1;
    min-height:500px;
}

#header{
    width:1000px;
    height: 300px;
    background-image: url("../images/header.png");
}